.Title {
  margin-top: 100px;
  text-align: center;
  font-size: 30px;


}


body {
  padding-bottom: 50px;
}
body {
  padding-bottom: 50px;
}
.rm {
    float: right;
}
.cRm {
  border: 0;
  background-color: white;
  font-size: large;
  font-size: 36px;


}
.cRm:hover {
  color: red;
  text-decoration: underline;
}

.heart {
    display: inline-block;
}


.row{
    justify-content: space-between;

}
.listOfItems {
    list-style-type: none;

}
.itemsInfo {
    border-style: solid;
    border-top: 0ch;
    border-left: 0;
    border-right: 0;
}

.btn-primary, .btn-secondary   {
    
	background-color: gray;
	height: 50px;
	width: 50px;
}

    

.cart {
    margin-left: 150px;
    margin-right: 150px;
 
}
body {
    margin-left: 150px;
    margin-right: 150px;
}
.cTotal {
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
    list-style-type: none;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 80%;
    text-align: right;
  
}

.minusAdd {
    display: inline-flex;
    margin-left: 20px;
}
.cItem {
    font-size: 36px;

}